@model mediacore.Models.User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LnToken)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LnToken)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdGroupNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdGroupNavigation.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdRoleNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdRoleNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
